Repository Ilmastokompassi/Ilmastokompassi, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, frontend, backend, documentation

Add barebones Material UI ThemeProvider sample
  frontend/src/App.jsx
  frontend/src/theme.jsx
Labels: frontend

There was no way it would work first try, fix.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: ci/cd

Hardcoded it is then
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: ci/cd

Remove leftover continue-on-error, oops.
  .github/workflows/frontend.yml
Labels: ci/cd

Put the entire deploy step behind condition.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: ci/cd

Try relative path for the default working-directory
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: ci/cd

Apparently cache-depedency-path for setup-node wasn't relative, cool
  .github/workflows/frontend.yml
Labels: ci/cd

Use docker/login-action for the authentication in CI/CD
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: ci/cd

Update README.md
  README.md
Labels: documentation

Change the test route and run prettier
  frontend/src/pages/LandingPage.jsx
  frontend/src/theme.jsx
  frontend/vite.config.js
Labels: frontend

Add backend changes
  backend/src/routes.py
Labels: backend

Add cache-dependency-path for setup-python step
  .github/workflows/backend.yml
Labels: ci/cd

Install poetry before setup-python step
  .github/workflows/backend.yml
Labels: ci/cd

Update README.md
  README.md
Labels: documentation

Update README.md (#95)
  README.md
Labels: documentation

Adding survey page
  frontend/src/components/Navbar.jsx
  frontend/src/components/Survey.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/router.jsx
Labels: frontend

Adding survey page (#98)
  frontend/src/components/Navbar.jsx
  frontend/src/components/Survey.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/router.jsx
Labels: frontend

[skip ci] template for survey starting page
  frontend/src/pages/SurveyPage.jsx
Labels: frontend

renaming
  frontend/src/pages/SurveyPage.jsx
Labels: frontend

Update workflow_guide.md
  documentation/workflow_guide.md
Labels: documentation

added required jest libraries and a simple example test
  frontend/.babelrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tests/surveyPage.test.js
Labels: frontend

removed unused import and added jest to eslintrc
  frontend/.eslintrc.cjs
  frontend/src/tests/surveyPage.test.js
Labels: frontend

test link
  frontend/src/pages/SurveyPage.jsx
  frontend/src/tests/surveyPage.test.js
Labels: frontend

.github/labeler.yml:

"ci/cd":
  - .github/**

"frontend":
  - frontend/**

"backend":
  - backend/**

"documentation":
  - documentation/**
  - README.md
