Repository Ilmastokompassi/Ilmastokompassi, pull requests merged in 2023-10, with the labels that each got.

#169 Update environment setup workflow
  documentation/environment_setup_workflow.md
Labels: documentation, task

#170 Minor changes to environment setup workflow
  documentation/environment_setup_workflow.md
Labels: documentation, task

#171 Update workflow_guide.md
  documentation/workflow_guide.md
Labels: documentation

#172 Feature database question fetchs
  backend/src/questions.sql
  backend/src/repositories/questions_repository.py
  backend/src/routes.py
  backend/src/services/questions_service.py
  frontend/src/components/Question.jsx
Labels: frontend, backend

#174 Update environment_setup_workflow.md [skip ci]
  documentation/environment_setup_workflow.md
Labels: documentation

#176 Climate profile unittest
  frontend/cypress.config.js
  frontend/cypress/e2e/climateProfiles.cy.js
  frontend/cypress/e2e/navBar.spec.cy.js
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/src/tests/ClimateProfile.test.js
Labels: frontend, tests

#177 added all questions to questions.sql file. show total amount of quest…
  backend/src/questions.sql
  frontend/src/components/Question.jsx
Labels: frontend, backend

#181 Make QuestionPage testable
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/LinkBehavior.jsx
  frontend/src/components/Question.jsx
  frontend/src/components/QuestionButton.jsx
  frontend/src/components/QuestionCard.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/router.jsx
  frontend/src/tests/ClimateProfile.test.js
  frontend/src/tests/components/ClimateProfile.test.js
  frontend/src/tests/components/Navbar.test.js
  frontend/src/tests/components/QuestionCard.test.js
  frontend/src/tests/questionPage.test.js
  frontend/src/tests/surveyPage.test.js
  frontend/src/tests/utils/renderWithRoute.js
  frontend/src/theme.jsx
Labels: frontend, tests

#180 Update workflow_guide.md
  documentation/workflow_guide.md
Labels: documentation

#179 Better ui for profilepage
  frontend/src/components/ClimateProfile.jsx
  frontend/src/pages/ClimateProfilePage.jsx
Labels: frontend

#183 User's answers are saved to database after submit
  backend/src/routes.py
  frontend/src/components/QuestionCard.jsx
  frontend/src/pages/QuestionPage.jsx
Labels: task, frontend, backend

#185 better ui layout for question pages
  frontend/src/components/QuestionCard.jsx
  frontend/src/pages/QuestionPage.jsx
Labels: frontend

#186 Renamed question service and repo to survey. Refactored survey saving
  backend/src/repositories/questions_repository.py
  backend/src/repositories/survey_repository.py
  backend/src/routes.py
  backend/src/services/questions_service.py
  backend/src/services/survey_service.py
Labels: backend

#187 added psycopg2 to poetry
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

#189 Configure backend for database deployment
  backend/Dockerfile
  kubernetes/base/backend/deployment.yaml
Labels: backend, ci/cd, k8s

#192 Feedback for succesful answer submission, redirect to /profile
  frontend/src/components/Navbar.jsx
  frontend/src/pages/OwnClimateProfilePage.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/router.jsx
Labels: task, frontend

#193 create rudimentary landing page and change mui theme colour to green
  frontend/src/pages/LandingPage.jsx
  frontend/src/theme.jsx
Labels: frontend

#194 remove unused route for landing page
  backend/src/routes.py
Labels: backend

#198 k8s: Simplify environment variable loading for backend
  kubernetes/base/backend/deployment.yaml
Labels: ci/cd, k8s

#197 Summary page
  backend/src/repositories/survey_repository.py
  backend/src/routes.py
  backend/src/services/survey_service.py
  frontend/src/components/Navbar.jsx
  frontend/src/pages/OwnClimateProfilePage.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/pages/SummaryPage.jsx
  frontend/src/router.jsx
Labels: task, frontend, backend

#195 Use latest debian in backend Dockerfile
  backend/Dockerfile
Labels: backend

#200 Styling for summary page
  frontend/src/pages/SummaryPage.jsx
Labels: task, frontend

#201 Cypress tests for summary page
  frontend/cypress/e2e/summary.cy.js
Labels: task, frontend

#203 tests for profile service class
  backend/src/tests/test_profile_service.py
Labels: backend, tests

#202 unittests for survey service
  backend/src/repositories/survey_repository.py
  backend/src/tests/test_survey_service.py
Labels: task, backend, tests

#207 Tests for profile_repository
  backend/src/tests/test_profile_repository.py
Labels: backend, tests

#208 Add secret configuration to the docs
  documentation/kubernetes.md
Labels: documentation

#209 create breakpoints and apply on navbar, fix surveypage alignment
  frontend/src/components/Navbar.jsx
  frontend/src/pages/ClimateProfilePage.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/theme.jsx
Labels: frontend

#210 Add initial Kubernetes architecture diagram
  documentation/architecture.md
Labels: documentation

#212 Application's typography font size breakpoints are uniform
  frontend/src/components/ClimateProfile.jsx
  frontend/src/pages/ClimateProfilePage.jsx
  frontend/src/pages/LandingPage.jsx
Labels: task, frontend

#213 Adding fontSize breakpoints to survey page and changing button text
  frontend/src/pages/SurveyPage.jsx
Labels: task, frontend

#216 Navigate to next question automatically
  frontend/src/pages/QuestionPage.jsx
Labels: frontend

#217 Tests for survey_repository.py
  backend/src/tests/test_survey_repository.py
Labels: backend, tests

#219 Adding npm run test to frontend workflow
  .github/workflows/frontend.yml
Labels: ci/cd

#220 Arrow navigation survey
  frontend/src/pages/QuestionPage.jsx
Labels: frontend

#222 Question position stays same
  frontend/src/components/QuestionCard.jsx
  frontend/src/pages/QuestionPage.jsx
Labels: task, frontend

#243 fix breakpoints for new font, align survey options horizontally when …
  frontend/src/components/Navbar.jsx
  frontend/src/components/QuestionCard.jsx
  frontend/src/theme.jsx
Labels: frontend

#245 Update schema for the group functionality
  backend/src/schema.sql
  documentation/database.md
Labels: documentation, backend

#246 Fixed navigation bug
  frontend/src/pages/QuestionPage.jsx
Labels: frontend

#247 Added buttons for group functions, and dialog popup functionality for…
  frontend/src/components/FormDialog.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/tests/surveyPage.test.js
Labels: frontend, tests

#248 Climate profile summary in backend
  backend/src/repositories/survey_repository.py
  backend/src/routes.py
  backend/src/services/survey_service.py
  backend/src/tests/test_survey_service.py
  frontend/src/pages/SummaryPage.jsx
Labels: frontend, backend, tests

#249 frontend gets summary from the backend
  backend/src/routes.py
  backend/src/services/survey_service.py
  frontend/src/pages/SummaryPage.jsx
Labels: frontend, backend

#250 group option saves token in frontend and moves to survey
  frontend/src/components/FormDialog.jsx
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#252 Adding small delay after selecting answer option
  frontend/src/pages/QuestionPage.jsx
Labels: task, frontend

#253 Create new group
  backend/src/repositories/group_repository.py
  backend/src/routes.py
  backend/src/services/group_service.py
  frontend/src/components/GroupDialog.jsx
  frontend/src/pages/SurveyPage.jsx
Labels: task, frontend, backend

#254 Group name is saved in uppercase and user sees name written in uppercase
  frontend/src/components/GroupDialog.jsx
Labels: task, frontend

#256 Group questions can only be made if group exists
  backend/src/repositories/group_repository.py
  backend/src/routes.py
  backend/src/services/group_service.py
  frontend/src/components/FormDialog.jsx
Labels: frontend, backend

#257 Surveyservice tests
  backend/src/services/survey_service.py
  backend/src/tests/test_survey_service.py
Labels: backend, tests

#259 Group adding in uppercase
  frontend/src/components/FormDialog.jsx
Labels: frontend

#261 Validate group
  backend/src/routes.py
  backend/src/services/group_service.py
  backend/src/tests/test_group_service.py
  frontend/src/components/GroupDialog.jsx
Labels: frontend, backend, tests

#262 Summarypage calculates profile
  frontend/src/components/SummaryProfile.jsx
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#264 Group token shows in navbar
  frontend/src/components/FormDialog.jsx
  frontend/src/components/Navbar.jsx
Labels: frontend

#265 Group token is saved to users, token removed when doing survey solo
  backend/src/repositories/group_repository.py
  backend/src/routes.py
  backend/src/services/group_service.py
  frontend/src/components/FormDialog.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/pages/SurveyPage.jsx
Labels: frontend, backend

#269 change group icon and remove tooltip
  frontend/src/components/Navbar.jsx
Labels: frontend

#270 Update labeler actions workflow
  .github/labeler.yml
Labels: ci/cd

#275 E2E tests for joining group session
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/src/components/FormDialog.jsx
  frontend/src/components/GroupDialog.jsx
Labels: task, frontend

#277 Add tests label to cypress PRs
  .github/labeler.yml
Labels: ci/cd

#276 Make summary page fetching logic a bit less fragile
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#278 Added group creation command for Cypress tests & screen size env.
  frontend/cypress.config.js
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/support/commands.js
Labels: frontend, tests

#279 Create more tests for joining group and refactoring
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/cypress/support/commands.js
  frontend/src/components/Navbar.jsx
Labels: frontend, tests

#280 Automatically migrate backend database on each deployment
  backend/Dockerfile
  backend/src/schema.sql
  kubernetes/base/backend/deployment.yaml
Labels: backend, k8s

#281 Service test coverage to 100%
  backend/src/tests/test_group_service.py
  backend/src/tests/test_survey_service.py
Labels: backend, tests

#283 increase pie legend font size and add some padding to summarypage
  frontend/src/components/SummaryPie.jsx
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#273 Configure backend tests for GitHub Actions
  .github/workflows/backend.yml
  backend/src/__init__.py
  backend/src/api.py
  backend/src/app.py
  backend/src/tests/config.py
  backend/src/tests/conftest.py
  backend/src/tests/test_app.py
  backend/src/tests/test_db.py
Labels: backend, ci/cd, tests

#286 Remove material page
  backend/src/static/questions.json
  frontend/cypress/e2e/navBar.spec.cy.js
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/MaterialPage.jsx
  frontend/src/router.jsx
  frontend/src/tests/components/Navbar.test.js
Labels: frontend, backend, tests

#285 added pytest-dotenv to dev dependencies
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

#288 fixed typo in climateprofiles
  backend/src/climateprofiles.sql
Labels: bug, backend, db

#290 Placeholder picture for climate profile page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/flowers_earth.jpg
  frontend/src/components/SummaryProfile.jsx
Labels: frontend

#291 change SummaryPie to SummaryDoughnut
  frontend/src/components/SummaryDoughnut.jsx
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#292 Use useTitle hook
  frontend/cypress/e2e/summary.cy.js
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/src/hooks/useTitle.js
  frontend/src/pages/ClimateProfilePage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/pages/SummaryPage.jsx
  frontend/src/pages/SurveyPage.jsx
Labels: frontend, tests

#293 Background picture and profile images
  frontend/package.json
  frontend/src/assets/background_forest.jpg
  frontend/src/assets/climcomp.png
  frontend/src/assets/peace_earth.jpg
  frontend/src/assets/plant_earth.jpg
  frontend/src/assets/recycle_earth.jpg
  frontend/src/components/Background.jsx
  frontend/src/components/ClimateProfile.jsx
  frontend/src/components/FormDialog.jsx
  frontend/src/components/GroupDialog.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/ProfileImage.jsx
  frontend/src/components/SummaryDoughnut.jsx
  frontend/src/components/SummaryProfile.jsx
  frontend/src/pages/ClimateProfilePage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/tests/__mocks__/fileMock.js
  frontend/src/theme.jsx
Labels: frontend, tests

#297 Card component to SurveyPage
  frontend/src/components/ClimateProfile.jsx
  frontend/src/components/FormDialog.jsx
  frontend/src/components/SummaryProfile.jsx
  frontend/src/pages/SummaryPage.jsx
  frontend/src/pages/SurveyPage.jsx
Labels: frontend

#298 e2e cypress test that goes from survey page through questions to summ…
  frontend/cypress/e2e/survey.spec.cy.js
Labels: frontend, tests

#299 change summary doughnut numbers to add to 100.
  frontend/.eslintrc.cjs
  frontend/src/components/SummaryDoughnut.jsx
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#303 remove alert on submit and change text to finnish
  frontend/src/pages/QuestionPage.jsx
Labels: frontend

#304 Remove respones from localstorage after successful submit. Fixed test …
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/src/pages/QuestionPage.jsx
Labels: task, frontend, tests

#318 Climate Profiles shown horizontal on summary page
  frontend/src/components/SummaryProfile.jsx
Labels: frontend
