Repository Ilmastokompassi/Ilmastokompassi, pull requests merged in 2023-12, with the labels that each got.

#491 progressbar for oppimisvisa
  frontend/src/components/factQuiz/QuizQuestionCard.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend

#493 factquiz summarypage layout fixed and text by customer added
  frontend/cypress/e2e/factQuiz.cy.js
  frontend/src/pages/FactQuizSummaryPage.jsx
Labels: frontend, tests

#494 Further adjustments to front page visual elements
  frontend/src/components/ToSurveyCard.jsx
  frontend/src/pages/LandingPage.jsx
Labels: frontend

#497 updated schema to show introduction field in quiz_question
  docs/database_schema.png
Labels: docs

#498 Accessibility changes
  frontend/src/components/NavigationBar.jsx
  frontend/src/components/ToSurveyCard.jsx
  frontend/src/components/roleSurvey/RoleAccordion.jsx
  frontend/src/components/roleSurvey/RoleImage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/RoleSurveyPage.jsx
Labels: frontend

#500 Ensure backend deployment fails if initContainer fails
  kubernetes/base/backend/deployment.yaml
Labels: k8s

#502 Change heading font sizes to larger ones
  frontend/src/components/NavigationBar.jsx
  frontend/src/components/ToSurveyCard.jsx
  frontend/src/components/roleSurvey/SummaryRole.jsx
  frontend/src/pages/FactQuizSummaryPage.jsx
  frontend/src/pages/FaqPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/RoleSurveyGroupSummaryPage.jsx
  frontend/src/pages/RoleSurveySummaryPage.jsx
  frontend/src/theme.jsx
Labels: frontend

#505 Wrap each migration with transaction
  backend/migrations/01-schema.sql
  backend/migrations/02-climateprofiles.sql
  backend/migrations/03-questions.sql
  backend/migrations/04-quiz-questions.sql
  backend/migrations/05-add-short-role-description.sql
Labels: backend, db

#506 Backend API (re)factoring
  backend/src/api.py
  backend/src/routes/__init__.py
  backend/src/routes/group_routes.py
  backend/src/routes/quiz_routes.py
  backend/src/routes/survey_routes.py
  backend/src/tests/test_api.py
  backend/src/tests/test_group_routes.py
  backend/src/tests/test_quiz_routes.py
  backend/src/tests/test_survey_routes.py
  frontend/cypress/support/commands.js
  frontend/src/components/CreateGroupDialog.jsx
  frontend/src/components/GroupSummaryDialog.jsx
  frontend/src/components/JoinGroupForm.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
  frontend/src/pages/RoleSurveyGroupSummaryPage.jsx
  frontend/src/pages/RoleSurveyPage.jsx
  frontend/src/pages/RoleSurveyQuestionPage.jsx
  frontend/src/pages/RoleSurveySummaryPage.jsx
Labels: frontend, backend, tests

#512 Fixed scaling issues of donut legend on mobile screens
  frontend/src/components/roleSurvey/SummaryDoughnut.jsx
Labels: frontend

#509 Footer has content
  frontend/src/components/Footer.jsx
  frontend/src/pages/FactQuizSummaryPage.jsx
  frontend/src/pages/FaqPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/RoleSurveyGroupSummaryPage.jsx
  frontend/src/pages/RoleSurveySummaryPage.jsx
  frontend/src/theme.jsx
Labels: frontend

#514 User can see what they answered in previous questions
  backend/src/routes/quiz_routes.py
  frontend/cypress/e2e/factQuiz.cy.js
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend, backend, tests

#515 Refactor Quiz- and Surveypage question cards to be uniform and look nice
  frontend/src/components/factQuiz/QuizQuestionCard.jsx
  frontend/src/components/roleSurvey/RoleQuestionButtons.jsx
  frontend/src/components/roleSurvey/SurveyQuestionCard.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
  frontend/src/pages/RoleSurveyQuestionPage.jsx
  frontend/src/tests/components/SurveyQuestionCard.test.js
Labels: frontend, tests

#517 Add info quiz summary
  backend/src/repositories/quiz_repository.py
  backend/src/services/quiz_service.py
  backend/src/tests/test_quiz_service.py
  frontend/cypress/e2e/factQuiz.cy.js
  frontend/src/components/factQuiz/QuizSummaryAccordion.jsx
  frontend/src/pages/FactQuizSummaryPage.jsx
Labels: frontend, backend, tests

#519 Group functions moved to accordion and layout improvements, updated cypress
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupSummary.cy.js
  frontend/src/components/CreateGroupDialog.jsx
  frontend/src/components/GroupForm.jsx
  frontend/src/components/roleSurvey/GroupAccordion.jsx
  frontend/src/pages/RoleSurveyPage.jsx
Labels: frontend, tests

#521 Refactor API error handling
  backend/src/api.py
  backend/src/routes/group_routes.py
  backend/src/routes/quiz_routes.py
  backend/src/routes/survey_routes.py
  backend/src/services/group_service.py
  backend/src/services/quiz_service.py
  backend/src/services/survey_service.py
  backend/src/tests/test_group_routes.py
  backend/src/tests/test_quiz_routes.py
  backend/src/tests/test_survey_routes.py
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/cypress/support/commands.js
  frontend/src/components/CreateGroupDialog.jsx
  frontend/src/components/roleSurvey/GroupAccordion.jsx
Labels: frontend, backend, tests

#522 Add Roboto Condensed (400) used in landing page
  frontend/src/assets/roboto-condensed-latin-400-normal.woff
  frontend/src/assets/roboto-condensed-latin-400-normal.woff2
  frontend/src/index.css
Labels: frontend

#523 Display answer options in reverse order on mobile viewports
  frontend/src/components/roleSurvey/SurveyQuestionCard.jsx
Labels: frontend

#524 Upgrade to Vite 5
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#525 Every page refactoring, fix jest-test and console error
  frontend/src/components/roleSurvey/SummaryDoughnut.jsx
  frontend/src/components/roleSurvey/SurveyQuestionCard.jsx
  frontend/src/pages/FactQuizSummaryPage.jsx
  frontend/src/pages/FaqPage.jsx
  frontend/src/pages/RoleSurveyGroupSummaryPage.jsx
  frontend/src/pages/RoleSurveyQuestionPage.jsx
  frontend/src/pages/RoleSurveySummaryPage.jsx
  frontend/src/tests/components/SurveyQuestionCard.test.js
Labels: frontend, tests

#526 Fix to background image jumping
  frontend/src/components/Background.jsx
  frontend/src/components/NavigationBar.jsx
Labels: frontend

#530 centered subheadings in quiz summary accordions
  frontend/src/components/factQuiz/QuizSummaryAccordion.jsx
Labels: frontend

#531 Fix undefined event error
  frontend/src/components/NavigationBar.jsx
Labels: frontend

#532 Changed layout height to 100vh
  frontend/src/components/Layout.jsx
Labels: frontend

#534 Compressed images
  frontend/src/assets/climcomp.png
  frontend/src/assets/eettinenkuluttaja.png
  frontend/src/assets/ilmastoasiantuntija.png
  frontend/src/assets/kestavanelamantavanetsija.png
  frontend/src/assets/kompassi.png
  frontend/src/assets/kompassi_tausta.png
  frontend/src/assets/mielipidevaikuttaja.png
  frontend/src/assets/oppimisvisalogo.png
  frontend/src/assets/roolilogo.png
  frontend/src/assets/tausta.png
Labels: frontend

#537 Removed 2023 from footer
  frontend/cypress/e2e/footerBar.cy.js
  frontend/src/components/Footer.jsx
Labels: frontend, tests

#540 Add trailing point to the end of sentences to texts in database
  backend/migrations/03-questions.sql
  frontend/src/components/roleSurvey/SurveyQuestionCard.jsx
  frontend/src/tests/components/SurveyQuestionCard.test.js
Labels: frontend, backend, tests, db

#539 Layout fixes
  frontend/src/components/ToSurveyCard.jsx
  frontend/src/components/factQuiz/CorrectAnswersInfo.jsx
  frontend/src/components/factQuiz/FactInfoBox.jsx
  frontend/src/components/factQuiz/QuizSummaryAccordion.jsx
  frontend/src/components/roleSurvey/RoleAccordion.jsx
  frontend/src/components/roleSurvey/RoleQuestionButtons.jsx
  frontend/src/components/roleSurvey/SummaryRole.jsx
  frontend/src/pages/FactQuizSummaryPage.jsx
  frontend/src/pages/FaqPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/RoleSurveyGroupSummaryPage.jsx
  frontend/src/pages/RoleSurveyPage.jsx
  frontend/src/pages/RoleSurveySummaryPage.jsx
  frontend/src/theme.jsx
Labels: frontend

#542 Add social media buttons
  frontend/.env.dev
  frontend/index.html
  frontend/package.json
  frontend/src/components/ShareButtons.jsx
  frontend/src/pages/RoleSurveySummaryPage.jsx
  frontend/src/utils/toParams.js
Labels: frontend

#543 Add a few sx properties that might fix problem on safari
  frontend/src/components/ToSurveyCard.jsx
Labels: bug, frontend

#545 Get fact quiz state from backend
  backend/src/repositories/group_repository.py
  backend/src/repositories/profile_repository.py
  backend/src/repositories/quiz_repository.py
  backend/src/repositories/survey_repository.py
  backend/src/routes/quiz_routes.py
  backend/src/services/quiz_service.py
  backend/src/services/survey_service.py
  backend/src/tests/test_group_service.py
  backend/src/tests/test_profile_service.py
  backend/src/tests/test_quiz_routes.py
  backend/src/tests/test_quiz_service.py
  backend/src/tests/test_survey_service.py
  frontend/cypress/e2e/factQuiz.cy.js
  frontend/src/components/factQuiz/CorrectAnswersInfo.jsx
  frontend/src/components/factQuiz/QuizQuestionCard.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend, backend, tests

#546 Refactoring quiz correct answers
  frontend/cypress/e2e/factQuiz.cy.js
  frontend/src/components/factQuiz/CorrectAnswersInfo.jsx
  frontend/src/components/factQuiz/FactInfoBox.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend, tests
