Repository Ilmastokompassi/Ilmastokompassi, pull requests merged in 2023-11, with the labels that each got.

#319 Add fact quiz schema changes
  backend/src/api.py
  backend/src/climateprofiles.sql
  backend/src/questions.sql
  backend/src/repositories/group_repository.py
  backend/src/repositories/profile_repository.py
  backend/src/repositories/survey_repository.py
  backend/src/schema.sql
  backend/src/services/group_service.py
  backend/src/services/survey_service.py
  backend/src/tests/test_api.py
  backend/src/tests/test_group_repository.py
  backend/src/tests/test_group_service.py
  backend/src/tests/test_profile_repository.py
  backend/src/tests/test_profile_service.py
  backend/src/tests/test_survey_repository.py
  backend/src/tests/test_survey_service.py
  documentation/database.md
  documentation/database_schema.png
Labels: docs, backend, tests

#320 Summary page shows multiple profiles and it looks good
  frontend/src/components/SummaryProfile.jsx
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#324 Add ImageStreamTag-trigger for the backend initContainer
  kubernetes/staging/add-backend-imagestream-trigger.yaml
Labels: k8s

#323 Changing frontend route names to Finnish
  frontend/cypress/e2e/climateProfiles.cy.js
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/cypress/e2e/navBar.spec.cy.js
  frontend/cypress/e2e/summary.cy.js
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/src/components/FormDialog.jsx
  frontend/src/components/GroupDialog.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/pages/SummaryPage.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/router.jsx
  frontend/src/tests/components/Navbar.test.js
  frontend/src/tests/questionPage.test.js
  frontend/src/tests/surveyPage.test.js
Labels: task, frontend, tests

#327 created template for quiz
  frontend/src/components/QuestionCard.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/router.jsx
  frontend/src/tests/components/QuestionCard.test.js
  frontend/src/tests/questionPage.test.js
Labels: frontend, tests

#328 Group data is shown in summary page
  backend/src/api.py
  backend/src/repositories/group_repository.py
  backend/src/services/group_service.py
  frontend/src/pages/SummaryPage.jsx
Labels: frontend, backend

#331 add cypress tests for swipe
  frontend/cypress/e2e/surveySwipe.cy.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/QuestionPage.jsx
Labels: frontend, tests

#332 Fix path reference to '/tietovisa/ from '/quiztest/'
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend

#333 Fix bug in counting scores and fix tests
  backend/src/services/survey_service.py
  backend/src/tests/test_survey_service.py
Labels: bug, backend, tests

#334 show groupstats only if belongs to group & headers for the doughnuts
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#335 Add QuizRepository and QuizService classes
  backend/src/repositories/quiz_repository.py
  backend/src/services/quiz_service.py
  backend/src/tests/test_quiz_service.py
Labels: backend, tests

#336 Restructured how the fact quiz works
  backend/src/repositories/quiz_repository.py
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/src/components/QuestionCard.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: task, frontend, backend, tests

#337 Summarypage: group statistics: -hidden if < 5 responses & -auto refresh
  backend/src/api.py
  backend/src/repositories/group_repository.py
  backend/src/services/group_service.py
  frontend/src/pages/SummaryPage.jsx
Labels: frontend, backend, db

#344 Group link to group summary page
  backend/src/api.py
  frontend/src/components/GroupSummaryDialog.jsx
  frontend/src/pages/GroupSummaryPage.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/router.jsx
  frontend/src/tests/surveyPage.test.js
Labels: frontend, backend, tests

#345 Set max width to progress bar
  frontend/src/pages/QuestionPage.jsx
Labels: bug, frontend

#346 Quiz repo enhancement
  backend/src/api.py
  backend/src/quiz_questions.sql
  backend/src/repositories/quiz_repository.py
  backend/src/services/quiz_service.py
  backend/src/tests/test_quiz_service.py
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: task, frontend, backend, tests

#339 Docker compose
  .github/labeler.yml
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  README.md
  backend/.dockerignore
  backend/.env.dev
  backend/.env.example
  backend/Dockerfile.dev
  backend/Dockerfile.prod
  backend/bin/db-migrate.sh
  backend/migrations/01-schema.sql
  backend/migrations/02-climateprofiles.sql
  backend/migrations/03-questions.sql
  backend/tasks.py
  bin/.common
  bin/detect-dev-env-problems
  bin/dev
  compose.yaml
  docs/CONTRIBUTING.md
  docs/architecture.md
  docs/database_schema.png
  docs/definition_of_done.md
  docs/kubernetes.md
  docs/work_hours/Sprint0_04.09.-10.09.2023.pdf
  docs/work_hours/Sprint1_11.09.-17.09.2023.pdf
  docs/work_hours/Sprint1_18.09.-24.09.2023.pdf
  docs/work_hours/Sprint2_02.10.-08.10.2023.pdf
  docs/work_hours/Sprint2_25.09.-01.10.2023.pdf
  docs/work_hours/Sprint3_09.10.-15.10.2023.pdf
  docs/work_hours/Sprint3_16.10.-22.10.2023.pdf
  docs/work_hours/Sprint3_23.10.-29.10.2023.pdf
  documentation/environment_setup_workflow.md
  documentation/workflow_guide.md
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  frontend/vite.config.js
  kubernetes/base/backend/deployment.yaml
Labels: docs, frontend, backend, ci/cd, k8s

#347 moved quiz questions to migrations
  backend/bin/db-migrate.sh
  backend/migrations/04-quiz_questions.sql
Labels: enhancement, backend

#348 Force a docker compose build before watching for changes
  bin/dev
  frontend/Dockerfile.dev
Labels: frontend

#349 Add link to group summary in navbar
  frontend/cypress/e2e/navBar.spec.cy.js
  frontend/src/components/Navbar.jsx
Labels: frontend, tests

#350 fix navbar cypress test
  frontend/cypress/e2e/navBar.spec.cy.js
Labels: frontend, tests

#353 Links to groupsummary
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/cypress/support/commands.js
  frontend/src/components/GroupDialog.jsx
  frontend/src/components/GroupSummaryDialog.jsx
  frontend/src/pages/GroupSummaryPage.jsx
Labels: frontend, tests

#356 fix fragment error on menu and padding on groupsummary
  frontend/src/components/Navbar.jsx
  frontend/src/pages/GroupSummaryPage.jsx
Labels: bug, frontend

#358 console error fixed by deleting unneccessary parameter
  frontend/src/components/GroupDialog.jsx
Labels: frontend

#359 backend returns list of correct answers
  .gitignore
  backend/src/api.py
  backend/src/repositories/quiz_repository.py
  backend/src/services/quiz_service.py
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend, backend

#361 Ryhmän tiedot button in hamburger now always routes to the group summary
  frontend/src/components/Navbar.jsx
Labels: bug, frontend

#363 info text is delivered with correct answers
  backend/src/api.py
  backend/src/repositories/quiz_repository.py
  backend/src/services/quiz_service.py
Labels: backend

#366 Configure the new staging and production hostnames
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  README.md
  kubernetes/production/kustomization.yaml
  kubernetes/production/patch-ingress.yaml
  kubernetes/staging/kustomization.yaml
  kubernetes/staging/patch-ingress.yaml
Labels: docs, ci/cd, k8s

#367 Show feedback on quiz answers
  backend/migrations/04-quiz_questions.sql
  frontend/src/components/QuizQuestionCard.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: task, frontend, backend

#379 Added SQL statements to insert real quiz content
  backend/migrations/04-quiz_questions.sql
Labels: task, backend, db

#380 Feature error msg group creation
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/cypress/e2e/navBar.spec.cy.js
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/cypress/support/commands.js
  frontend/src/components/GroupDialog.jsx
  frontend/src/components/GroupSummaryDialog.jsx
Labels: frontend, tests

#381 Display infobox after answering
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: task, frontend

#382 Checkmarks are only displayed on selected answer options
  frontend/src/components/QuizQuestionCard.jsx
Labels: task, frontend

#384 Add frontpage link to ClimComp logo
  frontend/src/components/Navbar.jsx
Labels: frontend

#387 Swipeable factquiz
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend

#388 Bugfix: Swiping function now directs to quiz instead of survey
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend

#389 Infobox component
  backend/migrations/04-quiz_questions.sql
  frontend/src/components/FactInfoBox.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend, backend

#390 Upgrade logo link
  frontend/src/components/Navbar.jsx
Labels: frontend

#392 Document the database reset before each test
  .github/workflows/backend.yml
  backend/bin/db-migrate
  backend/src/tests/test_group_repository.py
  backend/src/tests/test_profile_repository.py
  backend/src/tests/test_survey_repository.py
  bin/db-reset
  docs/CONTRIBUTING.md
  kubernetes/base/backend/deployment.yaml
Labels: docs, backend, ci/cd, tests, k8s

#393 Add CorrectAnswersInfo component to fact quiz
  backend/migrations/04-quiz_questions.sql
  frontend/src/components/CorrectAnswersInfo.jsx
  frontend/src/components/QuizQuestionCard.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: task, frontend, backend

#394 refactored group score's change from list to dict, created test for ...
  backend/src/services/group_service.py
  backend/src/tests/test_group_service.py
Labels: backend, tests

#395 bugfix
  frontend/src/components/CorrectAnswersInfo.jsx
Labels: bug, frontend

#396 Restructuring front page
  frontend/src/components/GroupDialog.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/theme.jsx
Labels: frontend

#398 Cypress tests made after restructuring of landing page
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/cypress/support/commands.js
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/tests/surveyPage.test.js
Labels: frontend, tests

#397 Refactored fact quiz, added correct answer count
  frontend/src/components/CorrectAnswersInfo.jsx
  frontend/src/components/FactInfoBox.jsx
  frontend/src/components/QuizQuestionCard.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: enhancement, frontend

#399 Landing page refactoring
  frontend/src/pages/LandingPage.jsx
  frontend/src/theme.jsx
Labels: frontend

#402 Ilmastoroolikysely page layout, re-routing after changes in name of ..
  frontend/cypress/e2e/navBar.spec.cy.js
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/src/components/Navbar.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/router.jsx
  frontend/src/tests/components/Navbar.test.js
  frontend/src/tests/surveyPage.test.js
Labels: frontend, tests

#401 Separate component for group join form
  frontend/src/components/JoinGroup.jsx
  frontend/src/pages/LandingPage.jsx
Labels: enhancement, frontend

#403 added join group form to surveypage
  frontend/src/components/GroupDialog.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/pages/SurveyPage.jsx
Labels: enhancement, frontend

#405 changed start button to card component & other tweaks.
  frontend/src/pages/SurveyPage.jsx
Labels: frontend

#406 Updated cypress test to use database
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/cypress/support/commands.js
Labels: frontend, tests

#407 Add Cypress E2E tests for fact quiz
  frontend/cypress/e2e/factQuiz.cy.js
Labels: task, frontend, tests

#408 renamed all frontend mentions of profile to role. Changed backend api…
  backend/src/api.py
  backend/src/tests/test_api.py
  frontend/cypress/e2e/climateRoles.cy.js
  frontend/src/components/ClimateRole.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/RoleImage.jsx
  frontend/src/components/SummaryRole.jsx
  frontend/src/pages/ClimateRolePage.jsx
  frontend/src/pages/GroupSummaryPage.jsx
  frontend/src/pages/SummaryPage.jsx
  frontend/src/router.jsx
  frontend/src/tests/components/ClimateProfile.test.js
Labels: frontend, backend, tests

#409 Zero corner case for summary page
  frontend/cypress/e2e/survey.spec.cy.js
  frontend/src/pages/SummaryPage.jsx
Labels: frontend, tests

#410 ui changes to make group joining a better user experience
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/src/components/GroupDialog.jsx
  frontend/src/components/JoinGroup.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/tests/surveyPage.test.js
Labels: frontend, tests

#412 Change site favicon to ClimComp logo
  frontend/index.html
  frontend/public/climcomp.png
  frontend/public/vite.svg
Labels: frontend

#415 Add quiz service tests to backend
  backend/src/repositories/quiz_repository.py
  backend/src/services/quiz_service.py
  backend/src/tests/test_quiz_service.py
Labels: task, backend, tests

#417 FaqPage for Ilmastokompassi
  frontend/src/components/Navbar.jsx
  frontend/src/pages/FaqPage.jsx
  frontend/src/router.jsx
  frontend/src/tests/components/Navbar.test.js
Labels: frontend, tests

#418 added apitests to the missing api.py functions. Small refactorings in…
  backend/src/api.py
  backend/src/tests/test_api.py
Labels: backend, tests

#419 Refactor the group joining cypress tests & component
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/src/components/JoinGroup.jsx
  frontend/src/components/Navbar.jsx
Labels: frontend, tests

#420 Refactor create group dialog
  backend/src/api.py
  backend/src/tests/test_api.py
  frontend/cypress/support/commands.js
  frontend/src/components/CreateGroupDialog.jsx
  frontend/src/components/JoinGroup.jsx
Labels: frontend, backend, tests

#421 Make the chart.js doughnut responsive
  frontend/src/components/SummaryDoughnut.jsx
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#423 describing texts now the same on both pages, profiili mentions -> rooli
  frontend/src/components/SummaryRole.jsx
  frontend/src/pages/GroupSummaryPage.jsx
  frontend/src/pages/SummaryPage.jsx
Labels: frontend

#422 Refactor the navigation bar and the respective tests
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/cypress/e2e/navBar.spec.cy.js
  frontend/cypress/e2e/navigationBar.spec.cy.js
  frontend/cypress/index.d.ts
  frontend/cypress/jsconfig.json
  frontend/cypress/support/commands.js
  frontend/src/components/Layout.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/NavigationBar.jsx
  frontend/src/tests/components/Navbar.test.js
  frontend/src/theme.jsx
Labels: frontend, tests

#424 Add FactQuizQuestionPage and related backend functionalities
  backend/src/api.py
  backend/src/repositories/quiz_repository.py
  backend/src/services/quiz_service.py
  backend/src/tests/test_quiz_service.py
  frontend/src/components/QuizSummaryAccordion.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
  frontend/src/pages/FactQuizSummaryPage.jsx
  frontend/src/router.jsx
Labels: task, frontend, backend, tests

#426 Disable button text capitalization
  frontend/src/theme.jsx
Labels: frontend

#429 Landingpage survey and quiz cards
  frontend/src/components/ToSurveyCard.jsx
  frontend/src/pages/LandingPage.jsx
Labels: frontend

#430 More cypress for quiz
  frontend/cypress/e2e/factQuiz.cy.js
  frontend/cypress/support/commands.js
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: frontend, tests

#431 Refine landing page cards
  frontend/src/components/JoinGroup.jsx
  frontend/src/components/ToSurveyCard.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/SurveyPage.jsx
Labels: frontend

#432 Font size in headings does not scale with screen size
  frontend/src/components/ClimateRole.jsx
  frontend/src/components/QuizQuestionCard.jsx
  frontend/src/components/SummaryRole.jsx
  frontend/src/components/SurveyQuestionCard.jsx
  frontend/src/pages/GroupSummaryPage.jsx
  frontend/src/pages/SummaryPage.jsx
Labels: enhancement, frontend

#425 Accordion functionality works, looks good
  frontend/src/components/ClimateRole.jsx
  frontend/src/components/RolesAccordion.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/tests/components/ClimateProfile.test.js
Labels: frontend, tests

#433 Quiz summary UI
  frontend/src/pages/FactQuizSummaryPage.jsx
Labels: enhancement, frontend

#437 Quiz does not stick to navbar in mobile view
  frontend/src/pages/FactQuizQuestionPage.jsx
Labels: enhancement, frontend

#436 Changes to tests, SurveyPage and NavBar to fit climateroles accordion
  frontend/cypress/e2e/climateRoles.cy.js
  frontend/cypress/e2e/navigationBar.spec.cy.js
  frontend/src/components/NavigationBar.jsx
  frontend/src/pages/ClimateRolePage.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/router.jsx
Labels: frontend, tests

#440 Accessibility missing labels
  frontend/src/components/NavigationBar.jsx
  frontend/src/components/SummaryDoughnut.jsx
  frontend/src/pages/FactQuizSummaryPage.jsx
  frontend/src/pages/QuestionPage.jsx
Labels: frontend

#441 start the test from landing page
  frontend/cypress/e2e/factQuiz.cy.js
Labels: enhancement, frontend, tests

#439 pressing enter in input fields works
  frontend/src/components/CreateGroupDialog.jsx
  frontend/src/components/JoinGroup.jsx
Labels: frontend

#442 Improve production deployment
  backend/Dockerfile.prod
  backend/poetry.lock
  backend/pyproject.toml
  frontend/Dockerfile.prod
Labels: frontend, backend

#443 Group join snackbar
  frontend/src/components/JoinGroup.jsx
  frontend/src/pages/SurveyPage.jsx
Labels: enhancement, frontend

#458 Fix the group menu regression
  frontend/src/components/NavigationBar.jsx
Labels: frontend

#460 Change refences from tietovisa to oppimisvisa
  frontend/cypress/e2e/factQuiz.cy.js
  frontend/src/pages/FactQuizQuestionPage.jsx
  frontend/src/pages/FactQuizSummaryPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/router.jsx
Labels: frontend, tests

#462 Add Group summary Cypress tests
  frontend/cypress/e2e/groupSummary.cy.js
  frontend/cypress/index.d.ts
  frontend/cypress/support/commands.js
Labels: frontend, tests

#464 Removed group joining from landing page, tests, faq and links
  frontend/cypress/e2e/groupCreation.cy.js
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/src/components/CreateGroupDialog.jsx
  frontend/src/components/FormDialog.jsx
  frontend/src/components/GroupSummaryDialog.jsx
  frontend/src/components/NavigationBar.jsx
  frontend/src/pages/FaqPage.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/SurveyPage.jsx
Labels: frontend, tests

#463 New order for quiz options, new explanations
  backend/migrations/04-quiz_questions.sql
  backend/src/tests/test_api.py
  frontend/cypress/e2e/factQuiz.cy.js
Labels: enhancement, frontend, backend, tests, db

#466 added new graphics to page, removed old ones.
  frontend/index.html
  frontend/public/kompassi_favicon.png
  frontend/src/assets/background_forest.jpg
  frontend/src/assets/eettinenkuluttaja.png
  frontend/src/assets/flowers_earth.jpg
  frontend/src/assets/ilmastoasiantuntija.png
  frontend/src/assets/kestavanelamantavanetsija.png
  frontend/src/assets/kompassi.png
  frontend/src/assets/kompassi_tausta.png
  frontend/src/assets/mielipidevaikuttaja.png
  frontend/src/assets/peace_earth.jpg
  frontend/src/assets/plant_earth.jpg
  frontend/src/assets/recycle_earth.jpg
  frontend/src/assets/tausta.png
  frontend/src/components/Background.jsx
  frontend/src/components/NavigationBar.jsx
  frontend/src/components/RoleImage.jsx
  frontend/src/pages/LandingPage.jsx
Labels: frontend

#467 Added link to frontpage to hamburger, tests to fit the change
  frontend/cypress/e2e/groupJoining.cy.js
  frontend/cypress/e2e/groupSummary.cy.js
  frontend/cypress/e2e/navigationBar.spec.cy.js
  frontend/src/components/NavigationBar.jsx
Labels: frontend, tests

#470 factquiz added to navbar and cypress test
  frontend/cypress/e2e/navigationBar.spec.cy.js
  frontend/src/components/NavigationBar.jsx
Labels: frontend, tests

#471 changed background colour of paper based elements in theme to slight …
  frontend/src/theme.jsx
Labels: frontend

#472 Use MUI provided responsive font size configuration
  frontend/src/theme.jsx
Labels: frontend

#476 Arrow_buttons_visible_new_component
  frontend/src/components/RoleQuestionButtons.jsx
  frontend/src/components/SurveyQuestionCard.jsx
  frontend/src/pages/QuestionPage.jsx
Labels: frontend

#477 Fix role survey buttons
  frontend/src/components/RoleQuestionButtons.jsx
  frontend/src/pages/RoleSurveyPage.jsx
  frontend/src/pages/RoleSurveyQuestionPage.jsx
  frontend/src/router.jsx
Labels: frontend

#475 Finish group summary role cypress tests
  frontend/cypress/e2e/groupSummary.cy.js
  frontend/cypress/index.d.ts
Labels: frontend, tests

#473 Move Snackbar to its default position to avoid covering elements
  frontend/src/components/JoinGroupForm.jsx
  frontend/src/pages/RoleSurveyPage.jsx
Labels: frontend

#474 Minor cypress refactoring
  frontend/cypress/e2e/navigationBar.cy.js
  frontend/cypress/e2e/roleSurvey.cy.js
  frontend/cypress/e2e/roleSurveySummary.cy.js
  frontend/cypress/e2e/surveySwipe.cy.js
  frontend/cypress/support/commands.js
  frontend/src/components/NavigationBar.jsx
Labels: frontend, tests

#478 Fact quiz options are shuffled
  frontend/src/components/QuizQuestionCard.jsx
  frontend/src/utils/shuffleArray.js
Labels: enhancement, frontend

#479 Refactor role survey pages and components
  frontend/src/components/ClimateRole.jsx
  frontend/src/components/RoleImage.jsx
  frontend/src/components/RolesAccordion.jsx
  frontend/src/components/SummaryRole.jsx
  frontend/src/components/factQuiz/CorrectAnswersInfo.jsx
  frontend/src/components/factQuiz/FactInfoBox.jsx
  frontend/src/components/factQuiz/QuizQuestionCard.jsx
  frontend/src/components/factQuiz/QuizSummaryAccordion.jsx
  frontend/src/components/roleSurvey/RoleAccordion.jsx
  frontend/src/components/roleSurvey/RoleImage.jsx
  frontend/src/components/roleSurvey/RoleQuestionButtons.jsx
  frontend/src/components/roleSurvey/SummaryDoughnut.jsx
  frontend/src/components/roleSurvey/SummaryRole.jsx
  frontend/src/components/roleSurvey/SurveyQuestionCard.jsx
  frontend/src/pages/FactQuizQuestionPage.jsx
  frontend/src/pages/FactQuizSummaryPage.jsx
  frontend/src/pages/RoleSurveyGroupSummaryPage.jsx
  frontend/src/pages/RoleSurveyPage.jsx
  frontend/src/pages/RoleSurveyQuestionPage.jsx
  frontend/src/pages/RoleSurveySummaryPage.jsx
  frontend/src/router.jsx
  frontend/src/tests/components/ClimateProfile.test.js
  frontend/src/tests/components/SurveyQuestionCard.test.js
  frontend/src/types.js
Labels: frontend, tests

#480 Lay groundwork for the footer
  frontend/src/components/Footer.jsx
  frontend/src/components/Layout.jsx
Labels: frontend

#482 Fix import and Cypress test issue
  frontend/cypress/e2e/groupSummary.cy.js
  frontend/src/components/factQuiz/QuizQuestionCard.jsx
Labels: frontend, tests

#486 Show gray markers for options that were not selected
  frontend/cypress/e2e/factQuiz.cy.js
  frontend/src/components/factQuiz/QuizQuestionCard.jsx
  frontend/src/theme.jsx
Labels: enhancement, frontend, tests

#489 Adjust roleSurvey and factQuiz cards on frontpage to work with new content
  frontend/src/assets/oppimisvisalogo.png
  frontend/src/assets/roolilogo.png
  frontend/src/components/ToSurveyCard.jsx
  frontend/src/pages/LandingPage.jsx
Labels: frontend
