Repository Ilmastokompassi/Ilmastokompassi, pull requests merged in 2023-09, with the labels that each got.

#63 Adding Sprint 0 work hours documentation
  documentation/work_hours/Sprint0_04.09.-10.09.2023.pdf
Labels: project management

#67 [skip ci] created react app with vite
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
Labels: task

#66 Updating README.md to English
  README.md
Labels: documentation, task

#68 Adding correct full name for INAR
  README.md
Labels: documentation

#80 Add example of react-router-dom usage
  frontend/.gitignore
  frontend/.prettierignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/MaterialPage.jsx
  frontend/src/router.jsx
Labels: frontend

#88 Add Dockerfile for frontend project
  backend/src/routes.py
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/src/pages/LandingPage.jsx
  frontend/vite.config.js
Labels: frontend, backend

#89 Add continuous delivery to Docker Hub for the frontend
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/main.yml
Labels: ci/cd

#91 Add ThemeProvider sample and fix/test CI/CD
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  frontend/src/App.jsx
  frontend/src/theme.jsx
Labels: frontend, ci/cd

#92 Use docker/login-action for the authentication in CI/CD
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: ci/cd

#95 Update README.md
  README.md
Labels: documentation

#98 Adding survey page
  frontend/src/components/Navbar.jsx
  frontend/src/components/Survey.jsx
  frontend/src/pages/SurveyPage.jsx
  frontend/src/router.jsx
Labels: task, frontend

#99 [skip ci] template for survey starting page
  frontend/src/pages/SurveyPage.jsx
Labels: frontend

#100 Update workflow_guide.md
  documentation/workflow_guide.md
Labels: documentation

#101 added required jest libraries and a simple example test
  frontend/.babelrc
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tests/surveyPage.test.js
Labels: frontend

#103 test link
  frontend/src/pages/SurveyPage.jsx
  frontend/src/tests/surveyPage.test.js
Labels: frontend

#105 Use npm ci in the Dockerfile
  frontend/Dockerfile
Labels: frontend

#106 Adding survey question template
  backend/src/routes.py
  backend/src/static/questions.json
  frontend/src/components/Navbar.jsx
  frontend/src/components/Question.jsx
  frontend/src/components/QuestionButton.jsx
  frontend/src/components/Survey.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/router.jsx
Labels: task, frontend, backend

#108 moved render from every test to beforeEach
  frontend/src/tests/surveyPage.test.js
Labels: frontend, tests

#109 Added functions to handle answer saving locally
  frontend/src/components/Question.jsx
Labels: task, frontend

#110 cardsize fits nicer to viewport and does not change between questions
  backend/src/static/questions.json
  frontend/src/components/Question.jsx
Labels: frontend, backend

#115 Adding tests for rendering individual question
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tests/questionPage.test.js
Labels: task, frontend, tests

#117 Add Openshift deployment configuration files
  .github/labeler.yml
  kubernetes/base/backend/deployment.yaml
  kubernetes/base/frontend/deployment.yaml
  kubernetes/base/frontend/nginx.conf
  kubernetes/base/ingress.yaml
  kubernetes/base/kustomization.yaml
  kubernetes/production/kustomization.yaml
  kubernetes/production/patch-ingress.yaml
  kubernetes/staging/kustomization.yaml
  kubernetes/staging/patch-ingress.yaml
Labels: ci/cd

#118 Add workflow trigger for GitHub releases
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: ci/cd

#119 Feature navbar fixes
  frontend/src/components/Navbar.jsx
Labels: frontend

#121 [skip ci] Cypress implemented
  documentation/workflow_guide.md
  frontend/.eslintrc.cjs
  frontend/cypress.config.js
  frontend/cypress/e2e/spec.cy.js
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/package-lock.json
  frontend/package.json
Labels: documentation, frontend

#122 unit tests for navbar and new logo
  frontend/src/components/Navbar.jsx
  frontend/src/tests/Navbar.test.js
Labels: frontend, tests

#123 Cypress dev dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#124 [skip ci] added page titles and fixed navbar Links
  frontend/src/components/Navbar.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/MaterialPage.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/pages/SurveyPage.jsx
Labels: frontend

#125 add tests to find navigation buttons
  frontend/src/components/Question.jsx
  frontend/src/tests/questionPage.test.js
Labels: frontend, tests

#127 Cypress test to navigate pages
  frontend/cypress/e2e/spec.cy.js
  frontend/src/components/Navbar.jsx
Labels: frontend

#128 [skip ci] Added linting instructions
  documentation/workflow_guide.md
Labels: documentation

#129 Tag all image pushes from main with latest
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  kubernetes/base/backend/deployment.yaml
  kubernetes/base/frontend/deployment.yaml
  kubernetes/staging/kustomization.yaml
Labels: ci/cd, k8s

#137 Fix automatic redeployment for the staging environment
  kubernetes/base/kustomization.yaml
  kubernetes/production/kustomization.yaml
  kubernetes/staging/add-backend-imagestream-trigger.yaml
  kubernetes/staging/add-frontend-imagestream-trigger.yaml
  kubernetes/staging/enable-imagestream-lookup.yaml
  kubernetes/staging/imagestreams.yaml
  kubernetes/staging/kustomization.yaml
Labels: ci/cd, k8s

#148 ClimateProfilesPage and navbar to page done
  frontend/src/components/Navbar.jsx
  frontend/src/pages/ClimateProfilePage.jsx
  frontend/src/router.jsx
Labels: frontend

#150 Add initial database documentation
  documentation/database.md
Labels: documentation, database

#151 Creating schema.sql for database schema
  backend/src/schema.sql
  documentation/database.md
Labels: documentation, task, backend, database

#154 ClimateProfile page contains name, desc, pic
  frontend/src/components/ClimateProfile.jsx
  frontend/src/pages/ClimateProfilePage.jsx
Labels: frontend

#155 Update README.md
  README.md
Labels: documentation

#159 Climateprofilepage correct order
  frontend/src/components/ClimateProfile.jsx
  frontend/src/pages/ClimateProfilePage.jsx
Labels: frontend

#160 Restructure Flask application to be more suitable for testing database
  backend/.pylintrc
  backend/poetry.lock
  backend/poetry.toml
  backend/pyproject.toml
  backend/src/__init__.py
  backend/src/app.py
  backend/src/config.py
  backend/src/extensions.py
  backend/src/routes.py
  backend/src/tests/config.py
  backend/src/tests/test_app.py
  backend/src/tests/test_db.py
Labels: backend, tests

#162 Fix imports & remove html/css from backend
  backend/src/routes.py
  backend/src/services/profile_service.py
  backend/src/static/style.css
  backend/src/templates/index.html
Labels: backend

#163 Use SWR to simplify data fetching
  frontend/.babelrc
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Question.jsx
  frontend/src/pages/LandingPage.jsx
  frontend/src/pages/QuestionPage.jsx
  frontend/src/router.jsx
Labels: frontend

#165 sql schema to right format to work in postgres
  backend/src/schema.sql
Labels: backend

#166 Feature frontend profile fetchs
  backend/src/repositories/profile_repository.py
  backend/src/schema.sql
  frontend/src/pages/ClimateProfilePage.jsx
Labels: frontend, backend

#167 Feature frontend profile fetchs
  backend/src/climateprofiles.sql
  backend/src/repositories/profile_repository.py
  backend/src/routes.py
  frontend/src/components/ClimateProfile.jsx
  frontend/src/pages/ClimateProfilePage.jsx
Labels: frontend, backend
